@model DocSpin2.Models.Upload

    @{
        ViewBag.Title = "FileUpload";
    }

    <h2>FileUpload</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr>
                <td>File:</td>
                <td><input type="file" name="Files" id="Files" multiple /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="submit" value="Upload" /></td>
            </tr>
        </table>
    }
