@model IEnumerable<DocSpin2.Models.Repository>

@{
    ViewBag.Title = "Repositories";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
	@foreach (var itm in Model)
	{
		<form action="/Repositories/Details/@(itm.Id)" class="col-md-4">
			<button type="submit" class="btn btn-lg btn-block">@Html.DisplayFor(d => itm.Name)</button>
		</form>
	}
</div>

